
<%= form_with(model: @sorder, local: true) do |form| %>
  <p id="notice"><%= notice %></p>

  <style type="text/css">
      @media print {  
      .print {
        display: block;
      }
      .no-print {
        display: none;
      }
  }  
  </style>

  <div class="container">
  <td><%= image_tag @sorder.company.logoform, midth:50, height:50%>
  <%= @sorder.company.name %>
    <p> 
    Endereço:
    <%= @sorder.company.address %>
      Fone: 
    <%= @sorder.company.phone %>
      Cidade: 
    <%= @sorder.company.city %>
      CNPJ: 
    <%= @sorder.company.cnpj %>
    <p> 
    Email: 
    <%= @sorder.company.email %>
      Site: 
    <%= @sorder.company.site %>
    </td>
  </div>
  <p>
    <div class="container">  
      <strong>No.Ordem:</strong>
        <%= @sorder.id %>
        <strong>Data:</strong>
        <%= @sorder.data %>
        <strong>Destino:</strong>
        <%= @sorder.destination.description %>
        <strong>Guia:</strong>
        <%= @sorder.tourguide.sname %>
        <p>
          <strong>observacoes:</strong>
          <%= @sorder.sobservacoes %>
        </p>
    </div>
     
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Hotel</th>
      <th>Apto:</th>  
      <th>Passageiro:</th>  
      <th>Tipo Doc:</th>  
      <th>Documento:</th>  
      <th>Telefone:</th>  
      <th>PAX:</th>  
      <th>CHD:</th>  
      <th>Valor:</th>  
      <th>Solicitante:</th>  
      </tr> 
  </thead>
    <tbody>

    <% @sorder_item.each do |sorder_item| %>
      <tr>
        <td><%= sorder_item.hotel.sname %></td>
        <td><%= sorder_item.apto %></td>
        <td><%= sorder_item.snomepax %></td>
        <td><%= sorder_item.documenttype %></td>
        <td><%= sorder_item.document %></td>
        <td><%= sorder_item.phone %></td>
        <td><%= sorder_item.qtdepax %></td>
        <td><%= sorder_item.qtdechd %></td>
        <td><%= sorder_item.amount %></td>
        <td><%= sorder_item.vendor.sname %></td>
      </tr>
      <div>
        <td>Observações: <%= sorder_item.comments %></td>
      </div>
      <% end %>
    </tbody>
    </table>
    
    <br>
    
    <div class="no-print">
      <td><%= link_to '[Voltar]', sorders_path %></td>
    </div>
    
    <% end %>
    <button onclick="print()" class="no-print">imprimir </button>