<p id="notice"><%= notice %></p>

<h1>Sorder Items</h1>

<table>
  <thead>
    <tr>
      <th>Sorder</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sorder_items.each do |sorder_item| %>
      <tr>
        <td><%= sorder_item.sorder %></td>
        <td><%= sorder_item.comments %></td>
        <td><%= link_to 'Show', sorder_item %></td>
        <td><%= link_to 'Edit', edit_sorder_item_path(sorder_item) %></td>
        <td><%= link_to 'Destroy', sorder_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sorder Item', new_sorder_item_path %>
