<p id="notice"><%= notice %></p>

<p>
  <strong>Sorder:</strong>
  <%= @sorder_item.sorder %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @sorder_item.comments %>
</p>

<%= link_to 'Edit', edit_sorder_item_path(@sorder_item) %> |
<%= link_to 'Back', sorder_items_path %>
